:root {
  --primary-color: greenyellow;
  --secondary-color: steelblue;
  --btn-color: orange;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2vw;
}

.poker_table {
  position: relative;

  background: url('/resources/poker_table.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  height: 50vw;

  margin: 0;
  margin-bottom: 1vw;
  padding: 0;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.clear_scroll_bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 3vw;
  height: 50vw;

  background-color: transparent;
}

#drawing_area {
  height: 100%;
  width: 100%;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.display_name_form {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: white;
}

.display_name_form .form_inner {
  position: relative;
  display: table;

  margin: 0 auto;
  top: 10%;
  vertical-align: middle;
}

.display_name_form .form_inner div {
  text-align: center;
  margin-top: 2vh;
  width: 22em;
}

.display_name_form .form_inner input {
  display: table;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;

  padding: 3vh;
  border-radius: 3vh;
  border-width: 0.3vh;
  border-style: solid;
  border-color: black;

  width: 100%;

  text-align: center;
}

.display_name_form img {
  position: relative;
  margin: 0 auto;
  display: block;
  top: 10%;
  width: 8vw;

  transition: all 1s;
}

.display_name_form img:hover {
  width: 70vw;
}

.display_name_form .name_submit_btn {
  position: relative;
  display: table;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  vertical-align: middle;
  text-align: center;

  padding-top: 3vh;
  padding-bottom: 3vh;

  background-color: var(--btn-color);
  border-radius: 3vh;

  cursor: pointer;
}

.pickr {
  width: 20em;
  height: 5em;
}

.pcr-button, .pcr-button:before, .pcr-button:after {
  content: none !important;
  
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  
  border-radius: 3vh !important;
  border-style: solid;
  border-color: black;
  
  margin: 0 !important;
  padding: 0!important;
  top: 0 !important;
  left: 0 !important;
}

@media screen and (orientation:portrait) and (max-width: 992px) {
  .display_name_form {
    font-size: 5em;
  }
  
  .display_name_form .form_inner input {
    font-size: 1em;
  }
  
  .display_name_form .form_inner div {
    width: 90vw;
  }
    
  .pcr-app {
    transform: scale(3);
  }
}

@media screen and (orientation:landscape) and (max-width: 992px) {
  #combine_btn {
    top: 12vw;
  }
}

.loading_area {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: white;
  text-align: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  top: 40%;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.disconnected_screen {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #ffffff80;
  text-align: center;
}

.disconnected_screen h1 {
  position: relative;
  top: 25%;
}

.card {
  position: absolute;
  width: 8vw;
  height: 11.2vw;

  background-color: transparent;

  perspective: 1000px;

  touch-action: none;
}

.card:hover {
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 0.9vw;
  box-shadow: 0px 0px 0px 1px black;

  background-size: cover !important;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card_rotate_global {
  transform: rotateY(180deg);
}

.card_rotate_local {
  transform: rotateX(145deg);
}

.card_front, .card_back {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card_front {
  transform: rotateY(180deg);
}

.card_back {
  background: url('/resources/cards/card_top_v3.svg');
}

.card_return_to_deck_anim {
  transition: all 1s;
}

.chip {
  position: absolute;
  width: 5.6vw;
  height: 5.6vw;

  background-color: transparent;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  z-index: 500;
  /*perspective: 1000px;*/

  border-radius: 5.6vw;

  touch-action: none;

  -webkit-transform: translate3d(0,0,0);
}

.chip:hover {
  cursor: grab;
}

.chip:active {
  cursor: grabbing;
}

.chip_100 {
  background: url('/resources/chips/100_pokerchip.svg');
}

.chip_50 {
  background: url('/resources/chips/50_pokerchip.svg');
}

.chip_25 {
  background: url('/resources/chips/25_pokerchip.svg');
}

.chip_5 {
  background: url('/resources/chips/5_pokerchip.svg');
}

.chip_1 {
  background: url('/resources/chips/1_pokerchip.svg');
}

.shuffle_btn {
  display: inline-block;
  vertical-align: top;
  height: 4vw;
  width: 8vw;
  margin: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 15px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;

  text-align: center;
  font-size: 1vw;

  background-color: var(--btn-color);

  cursor: pointer;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.deal_button {
  display: inline-block;
  vertical-align: top;
  margin-right: 1vw;

  width: 20vw;
  height: 4vw;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.deal_button input {
  width: 2vw;
}

.deal_button label {
  font-size: 1.25vw;
}

.deal_button .deal_submit_btn {
  margin: 0 auto;
  margin-top: 5px;
  padding: 0.7vw;
  background-color: var(--btn-color);
  border-radius: 5px;
  text-align: center;

  cursor: pointer;
}

.deck_area {
  position: absolute;
  top: 51vw;
  left: 32.5vw;
  width: 9vw;
  height: 12vw;
  margin-right: 1vw;
  vertical-align: top;

  background-color: var(--secondary-color);
  border-radius: 0.9vw;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.deck_area h2 {
  position: relative;
  color: black;
  top: 38%;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 0px white;
  z-index: 100;

  pointer-events: none;
}

.chip_area {
  position: absolute;

  width: 5vw;
  height: 5vw;
  margin: 0;
  vertical-align: top;

  border-radius: 10vw;

  background-color: var(--secondary-color);

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.chip_area h4 {
  position: relative;
  text-align: center;

  top: 5vw;
}

#chip_1_holder {
  top: 51.5vw;
  left: 43.4vw;
}
#chip_5_holder {
  top: 51.5vw;
  left: 50.2vw;
}
#chip_25_holder {
  top: 51.5vw;
  left: 57vw;
}
#chip_50_holder {
  top: 51.5vw;
  left: 63.6vw;
}
#chip_100_holder {
  top: 51.5vw;
  left: 70.5vw;
}

.chip_splitter_area {
  position: absolute;

  width: 8vw;
  height: 8vw;
  top: 51.5vw;
  left: 77.5vw;

  border-radius: 10px;
  background-color: var(--secondary-color);

  text-align: center;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.chip_splitter_area .chip_split_btn {
  position: absolute;
  margin-top: 1vw;
  padding: 1vw;
  border-radius: 10px;
  left: 0;
  right: 0;
  height: 1vw;
  
  text-align: center;
  
  background-color: var(--btn-color);
}

.chip_split_btn:hover {
  cursor: pointer;
}

#split_btn {
  top: 7.2vw;
}

#combine_btn {
  top: 10.4vw;
}

.icon_grid {
  display: grid;
  float: right;
  grid-template-rows: 4vw 4vw;
}

.icon_row {
  margin-right: 1vw;
  float: right;
}

.draw_icon {
  display: inline-block;
  vertical-align: top;
  height: 2vw;
  width: 2vw;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px;

  background-color: var(--btn-color) !important;
  background-size: 2vw !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  border-radius: 5px;

  cursor: pointer;
}

.empty_icon {
  display: inline-block;
  vertical-align: top;
  height: 2vw;
  width: 2vw;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px;
  
  background-color: transparent;
}

#pointer_icon {
  background: url('/resources/icons/cursor.svg');
}

#pencil_icon {
  background: url('/resources/icons/pencil.svg');
}

#eraser_icon {
  background: url('/resources/icons/eraser.svg');
}

#question_icon {
  background: url('/resources/icons/question.svg');
}

#terminal_icon {
  background: url('/resources/icons/terminal.svg');
}

.terminal_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 50vh;
  width: 50vw;
  margin-left: 25vw;
  margin-top: 10vh;
  
  background-color: #292828;
  border-style: solid;
  border-color: black;
  color: white;
  
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  
  z-index: -100;
  opacity: 0;
  
  transition: all 1s;
}

.terminal_container__active {
  z-index: 4000;
  opacity: 1;
}

.terminal_console {
  overflow-y: auto;
  
  width: 98%;
  height: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  
  font-size: 0.8em;
}

.terminal_container .input_area_icon {
  display: inline-block;
  
  width: 3%;
  height: 5%;
  padding: 0;
  margin-left: 10px;
  margin-top: 1%;
}

.terminal_container #console_input {
  display: inline-block;
  
  width: 90%;
  height: 5%;
  margin-top: 1%;
  
  color: white;
  background-color: #212020;
  border-style: none;
  
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  font-size: 0.8em;
}

.terminal_exit {
  position: absolute;
  float: right;
  color: red;
  
  right: 0;
  bottom: 0;
  margin: 0.5%;
  margin-bottom: -1%;
  line-height: 0;
  
  cursor: pointer;
}

.player {
  position: absolute;
  z-index: 500;
  height: 0.5vw;
  width: 0.5vw;
  margin-top: -0.25vw;
  margin-left: -0.25vw;

  border-radius: 5vw;

  pointer-events: none;

  -webkit-transform: translate3d(0,0,0);
}

.player_anim {
  transition: all 0.1s;
}

.player .nametag {
  position: relative;
  font-size: 1.5vw;
  top: -15px;
  left: 15px;
}

.floating_nametag {
  position: absolute;
  text-align: center;
  font-size: 1.5vw;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  touch-action: none;

  -webkit-transform: translate3d(0,0,0);
}

.floating_nametag .player_cash {
  margin-top: 0.1vw;
  padding-top: 0.1vw;
  border-top: solid;
  border-width: 0.4vw;
}

.floating_nametag:hover {
  cursor: grab;
}

.floating_nametag:active {
  cursor: grabbing;
}

.tank {
  position: absolute;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  touch-action: none;

  -webkit-transform: translate3d(0,0,0);
  
  height: 3vw;
  width: 1.8vw;
  
  z-index: 400;
}

.tank__anim {
  transition: all 0.1s;
}

.tank_gun {
  position: absolute;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  touch-action: none;

  -webkit-transform: translate3d(0,0,0);
  
  top: 0;
  left: 0;
  height: 3vw;
  width: 1.8vw;
  
  transition: all 0.1s;
  
  z-index: 401;
}

.tank:hover {
  cursor: grab;
}

.tank:active {
  cursor: grabbing;
}

.cannonball {
  position: absolute;
  
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  touch-action: none;

  -webkit-transform: translate3d(0,0,0);
  
  background: url('/resources/vehicles/cannonball.svg');
  background-position: center !important;
  background-repeat: no-repeat !important;
  
  height: 1vw;
  width: 1vw;
  
  transition: all 0.1s;
  
  z-index: 399;
}

#table_floating_nametag {
  top: 118%;
  left: 25%;
}

#table_floating_nametag .player_cash {
  border-color: var(--secondary-color);
}

#table_floating_nametag:hover {
  cursor: default;
}

.info_text_container {
  position: fixed;
  
  top: 0;
  left: 0;
  height: 80vh;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 10vh;
  overflow-y:auto;
  
  background-color: white;
  border-radius: 10px;
  border-color: var(--btn-color);
  border-style: solid;
  
  z-index: -100;
  opacity: 0;
  
  transition: all 1s;
}

.info_text_container__active {
  z-index: 5000;
  opacity: 1;
}

.info_text_exit {
  float: right;
  color: red;
  
  margin: 0.5%;
  line-height: 0;
  
  cursor: pointer;
}

.info_text {
  display: block;
  margin-left: 1vw;
  margin-top: 1vw;

  margin-bottom: 10px;
}

.youtube_player {
  margin-left: 1vw;
  display: none;
}

.youtube_player__enabled {
  display: block;
  padding: 1vw;
  width: 28vw;
  background-color: #c4302b;
  border-radius: 5px;
}

.youtube_link_btn {
  display: inline-block;
  vertical-align: top;

  margin-right: 5px;
  padding: 5px;
  background-color: var(--secondary-color) !important;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2vw;
  height: 2vw;

  cursor: pointer;
}

.youtube_icon_btn {
  width: 2vw;

  background-size: 2vw !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.yt_player_input_area {
  margin-bottom: 5px;
}

.yt_player_input_area .yt_form {
  vertical-align: -webkit-baseline-middle;
}

.yt_player_input_area input {
  width: 12vw;
}

#enable_youtube_link_btn {
  padding-top: 8px;
  padding-bottom: 2px;

  margin-left: 1vw;
  margin-bottom: 1vw;
}

.youtube_player #submit_youtube_link_btn {
  padding-top: 8px;
  padding-bottom: 0px;
}

.youtube_pause_state_icon {
  background: url('/resources/icons/pause.svg');
}

.youtube_play_state_icon {
  background: url('/resources/icons/play.svg');
}

.youtube_volume_icon_1 {
  background: url('/resources/icons/sound_vol1.svg');
}

.youtube_volume_icon_2 {
  background: url('/resources/icons/sound_vol2.svg');
}

.youtube_volume_icon_3 {
  background: url('/resources/icons/sound_vol3.svg');
}

.youtube_next_icon {
  background: url('/resources/icons/next.svg');
}

.youtube_previous_icon {
  background: url('/resources/icons/previous.svg');
}

.youtube_currently_playing {
  margin-top: 10px;
  overflow: hidden;
}

#youtube_player_iframe {
  display: none;
}
